.card{
    background-color: white;
    width: 30%;
    position: relative;
    box-shadow: 0px 0px 10px rgb(207, 206, 206);
    padding: 10px;
    text-align: center;
    font-size: 100px;
    transition: 1s ease;
}
.card:hover{
    transform: rotateY(90deg);
}

#card{
    background-color: white;
    width: 30%;
    position: absolute;
    box-shadow: 0px 0px 10px rgb(207, 206, 206);
    padding: 10px;
    text-align: center;
    font-size: 100px;
    transition: 1s ease;
}